<!DOCTYPE html>
<section class="contact">
  <div class="contact__container">
    <div class="contact__orginal-heading-container">
      <p class="contact__title">cafe</p>
    </div>
    <p class="contact__simply-text">Chicago</p>
    <ul class="contact__links-list">
      <li><span>10340 Ridgeland Ave,</span></li>
      <li><span>Chicago Ridge, IL 60415, USA</span></li>
    </ul>
    <p class="contact__under-line"></p>
    <ul class="contact__list-style-none">
      <li><p class="contact__simply-text">Monday - Friday</p></li>
      <li>
        <p class="contact__simply-text --contact__simply-text --contact__simply-text-margin">
          06:00 AM - 10:00 PM
        </p>
      </li>
      <li><p class="contact__simply-text">Saturday - Sunday</p></li>
      <li>
        <p class="contact__simply-text --contact__simply-text --contact__simply-text-margin24">
          08:00 AM - 16:00 PM
        </p>
      </li>
    </ul>
    <p class="contact__under-line"></p>
    <ul class="contact__list-style-none">
      <li>
        <a class="contact__tel-and-mail contact__simply-text" href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >
      </li>
      <li>
        <a class="contact__tel-and-mail contact__simply-text" href="mail:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </div>
  <div class="contact__container">
    <div class="contact__orginal-heading-container --contact__orginal-heading-container">
      <p class="contact__title">FOODTRUCK</p>
    </div>
    <p class="contact__simply-text">Los Angeles</p>
    <ul class="contact__links-list">
      <li><span>1003 Manhattan Ave, Manhattan</span></li>
      <li><span>Beach, CA 90263, USA</span></li>
    </ul>
    <p class="contact__under-line"></p>
    <ul class="contact__list-style-none">
      <li><p class="contact__simply-text">Monday - Friday</p></li>
      <li>
        <p class="contact__simply-text --contact__simply-text --contact__simply-text-margin">
          06:00 AM - 10:00 PM
        </p>
      </li>
      <li><p class="contact__simply-text">Saturday - Sunday</p></li>
      <li>
        <p class="contact__simply-text --contact__simply-text --contact__simply-text-margin24">
          08:00 AM - 16:00 PM
        </p>
      </li>
    </ul>
    <p class="contact__under-line"></p>
    <ul class="contact__list-style-none">
      <li>
        <a class="contact__tel-and-mail contact__simply-text" href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >
      </li>
      <li>
        <a class="contact__tel-and-mail contact__simply-text" href="mail:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </div>
  <div class="contact__container">
    <div class="contact__orginal-heading-container">
      <p class="contact__title">cafe</p>
    </div>
    <p class="contact__simply-text">New York</p>
    <ul class="contact__links-list">
      <li><span>726 Sterling Pl, Brooklyn, NY</span></li>
      <li><span>11222, USA</span></li>
    </ul>
    <p class="contact__under-line"></p>
    <ul class="contact__list-style-none">
      <li><p class="contact__simply-text">Monday - Friday</p></li>
      <li>
        <p class="contact__simply-text --contact__simply-text --contact__simply-text-margin">
          06:00 AM - 10:00 PM
        </p>
      </li>
      <li><p class="contact__simply-text">Saturday - Sunday</p></li>
      <li>
        <p class="contact__simply-text --contact__simply-text --contact__simply-text-margin24">
          08:00 AM - 16:00 PM
        </p>
      </li>
    </ul>
    <p class="contact__under-line"></p>
    <ul class="contact__list-style-none">
      <li>
        <a class="contact__tel-and-mail contact__simply-text" href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >
      </li>
      <li>
        <a class="contact__tel-and-mail contact__simply-text" href="mail:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </div>
</section>
