<!DOCTYPE html>
<section class="section">
    <div class=" container gallery">
        <div class="gallery__photo">
            <img class="gallery__image" src="/src/images/reviews/lodyMobile2x.jpg">
        </div>
    </div>
    <div class="slider">
        <img class="slider__image" src="/src/images/reviews/Emily1x.jpg" width="85" height="85" alt="kobieta">
        <p class="slider__text">
            I love visiting your cafe. You prepare the most delicious ice
            cream in Los Angeles! In addition, you have beautiful serving,
            cozy atmosphere and polite staff.
        </p>
        <h2 class="slider__heading">Emily, Los Angeles</h2>
    </div>
</section>
