<div class="bg">
  <div class="section container">
    <div class="gallery">
      <img
        class="gallery__image"
        alt="icecream on table"
        src="/src/images/reviews/lodyMobile2x.jpg"
      />
    </div>
    <div class="slider">
      <img
        class="slider__image"
        src="/src/images/reviews/Emily1x.jpg"
        width="85"
        height="85"
        alt="women"
      />
      <p class="slider__text">
        I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
        addition, you have beautiful serving, cozy atmosphere and polite staff.
      </p>
      <h2 class="slider__heading" id="contact">Emily, Los Angeles</h2>
    </div>
  </div>
</div>
