<footer>
  <div class="container footer">
    <div class="footer__block--title">
      <p class="footer__title">
        homemade ice cream made<span class="footer__span">with passion</span>
      </p>
    </div>
    <ul class="footer__media">
      <li>
        <a href="#" class="">
          <svg class="footer__icon" width="20px" height="20px">
            <use href="../images/social_media_icon.svg#icon-github-project"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="">
          <svg class="footer__icon" width="20.4px" height="15.87px">
            <use href="../images/social_media_icon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="">
          <svg class="footer__icon" width="9.35px" height="20.4px">
            <use href="../images/social_media_icon.svg#icon-facebook-project"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div></div>
  <div>
    <p class=""></p>
  </div>
</footer>
