<header class="heading">
  <div class="heading__container container">
    <nav class="nav">
      <a class="heading logo" href="./index.html">
        <picture>
          <source
            srcset="
              /src/images/desktop/LogoDesktop.png       1x,
              /src/images/desktop/x2/LogoDesktop@2x.png 2x
            "
            media="(min-width: 1200px)"
            width="60"
          />
          <source
            srcset="
              /src/images/tablet/LogoTablet.png       1x,
              /src/images/tablet/x2/LogoTablet@2x.png 2x
            "
            media="(min-width: 768px)"
            width="48"
          />
          <source
            srcset="
              /src/images/mobile/LogoMobile.png       1x,
              /src/images/mobile/x2/LogoMobile@2x.png 2x
            "
            media="(min-width: 320px)"
            width="40"
          />
          <img class="logo__img" src="/src/images/mobile/LogoMobile.png" alt="logo ice-cream" />
        </picture>
      </a>
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="#advantages">How it`s made?</a></li>
        <li class="nav__item"><a class="nav__link" href="#product">Our products</a></li>
        <li class="nav__item"><a class="nav__link" href="#contact">Contact</a></li>
      </ul>
      <ul class="nav__buttons-list">
        <li>
          <button
            class="header__mobile-menu js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg
              width="35"
              height="35"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </li>
        <li><button type="button" class=" heading__button" data-modal-open>Buy now &gt;</button></li>
      </ul>
    </nav>
  </div>
</header>

<!--Mobile-menu-->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button type="button" class="menu-container__close-btn js-close-menu">
    <svg width="13" height="13">
      <use href="./images/icons.svg#icon-close-x"></use>
    </svg>
  </button>
  <div class="mobile-menu">
    <ul class="mobile-menu_nav">
      <li class="mobile-menu_nav-item"><a>Home</a></li>
      <li class="mobile-menu_nav-item-black"><a>How it`s made?</a></li>
      <li class="mobile-menu_nav-item"><a>Our products</a></li>
      <li class="mobile-menu_nav-item"><a>Contact</a></li>
    </ul>
  </div>
</div>

<!--Modal-->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal_btn-svg" type="button" data-modal-close>
      <svg width="13" height="13">
        <use href="./images/icons.svg#icon-close-x"></use>
      </svg>
    </button>
    <form>
      <div class="forms">
        <p class="forms_title">Chocolate icecream</p>
        <div class="forms_img">
          <img
            src="./images/icecream.png"
            srcset="./images/icecream@2x.png 2x"
            alt="chocoicecream"
          />
        </div>
        <div>
          <ul class="forms_nutrition">
            <li class="forms_nutrition-item">
              <p>320</p>
              <span>kkal</span>
            </li>
            <li class="forms_nutrition-item">
              <p>4g</p>
              <span>Protein</span>
            </li>
            <li class="forms_nutrition-item">
              <p>8.2g</p>
              <span>Fats</span>
            </li>
            <li class="forms_nutrition-item">
              <p>40,4g</p>
              <span>Carbs</span>
            </li>
          </ul>
        </div>
        <div class="forms_ingredients">
          <p>Ingredients</p>
          <ul class="forms_ingredients-list">
            <li class="forms_ingredients-item">
              <div>Milk</div>
              <div>100ml</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Belgian chocolate</div>
              <div>20g</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Cream</div>
              <div>150ml</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Cocoa powder</div>
              <div>30g</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Sugar</div>
              <div>40g</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Vanilla sugar</div>
              <div>10g</div>
            </li>
          </ul>
        </div>
        <label class="forms_item">
          <input type="text" name="username" placeholder="Name" required pattern="\w{3,20}" />
        </label>
        <label class="forms_item">
          <input type="tel" name="phone" placeholder="Phone" required pattern="[0-9].{8,}" />
        </label>
        <label class="forms_comment">
          <textarea name="comment" rows="5" placeholder="Comment"></textarea>
        </label>
        <button class="forms_submit-button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="./js/modal.js"></script>
