<!DOCTYPE html>
<header class="header">
  <div class="header__container container">
      <nav class="nav">
          <a class="header__logo logo" href="./index.html">
              <picture>
                  <source srcset="
                  /src/images/desktop/LogoDesktop.png   1x,
                  /src/images/desktop/x2/LogoDesktop@2x.png 2x" media="(min-width: 1200px)" width="60" />
                  <source srcset="
                  /src/images/tablet/LogoTablet.png    1x,
                  /src/images/tablet/x2/LogoTablet@2x.png 2x" media="(min-width: 768px)" width="48" />
                  <source srcset="
                  /src/images/mobile/LogoMobile.png    1x,
                  /src/images/mobile/LogoMobile@2x.png 2x" media="(min-width: 320px)" width="40" />
                  <img class="logo__img" src="/src/images/mobile/LogoMobile.png" alt="logo ice-cream" />
              </picture>
          </a>
          <ul class="nav__list">
              <li class="nav__item"><a class="nav__link" href="">Home</a></li>
              <li class="nav__item"><a class="nav__link" href="">How it`s made?</a></li>
              <li class="nav__item"><a class="nav__link" href="">Our products</a></li>
              <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
          </ul>
          <ul class="nav__buttons-list">
              <li><button class="header__mobile-menu js-open-menu" aria-expanded="false"
                      aria-controls="mobile-menu">
                      <svg width="35" height="35" fill="currentColor" viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                              clip-rule="evenodd"></path>
                      </svg>
                  </button></li>
              <li><button type="button" class="button" data-modal-open>Buy now ></button></li>
          </ul>
      </nav>
  </div>
</header>