.about {
  &__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    @include tablet {
      min-width: 454px;
    }
    @include desktop {
      min-width: 481px;
    }
  }
  &__label {
    font-size: $L-text-size;
    color: $title-white;
    font-weight: $font-weight-L;
    width: 210px;
    text-align: center;
    @include tablet {
      min-width: 454px;
      font-size: 22px;
      font-weight: $font-wieght-XL;
      display: contents;
    }
    @include desktop {
      font-size: 30px;
    }
  }
  &__title {
    font-size: $XXL-text-size;
    color: $title-white;
    font-family: $font-special;
    max-width: 210px;
    text-align: center;
    @include tablet {
      min-width: 454px;
      font-size: 36px;
    }
    @include desktop {
      font-size: 36px;
      margin-top: 15px;
    }
  }
  &__button {
    margin-left: 32px;
    @include desktop {
      margin-top: 54px;
    }
  }
  &__button-body {
    background-color: $button-yellow;
    color: $black;
    font-size: $M-text-size;
    font-weight: $font-wieght-M;
    width: 164px;
    height: 42px;
    border-radius: 10px;
    border-color: $button-yellow;
  }
  &__button-body:hover {
    background-color: $olive-green;
  }
  &__button-body:focus {
    background-color: $olive-green;
    color: $title-white;
  }
  &__button-body:disabled {
    background-color: #ababab;
  }
}
.cow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    min-width: 454px;
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    min-width: 1200px;
    display: flex;
    justify-content: space-evenly;
  }
  &__img {
    border-radius: 50%;
    margin-top: 54px;
    min-width: 278px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%),
      #d9d9d9;
    padding-top: 25px;
    box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
    @include tablet {
      max-width: 330px;
    }
    @include desktop {
      min-width: 490px;
      margin-top: 84px;
    }
  }
  &__box-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 220px;
    @include tablet {
      min-width: 454px;
      margin-left: 32px;
    }
    @include desktop {
      min-width: none;
    }
  }
  &__text-list {
    font-size: $S-text-size;
    color: $title-white;
    margin-bottom: 4px;
    letter-spacing: 1px;
    text-align: center;
    @include tablet {
      margin-bottom: 8px;
    }
    @include desktop {
      font-size: 16px;
      line-height: 176%;
      letter-spacing: 0.64px;
    }
  }
  .--cow__text-list {
    @include tablet {
      text-align: left;
    }
  }
  &__box-list-last-item {
    margin-bottom: 24px;
  }
}
