.advantages {
  background-color: $olive-green;
  &__icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
  }
  &__icon {
    width: 36px;
    height: 36px;
    padding: 7px;
    border-radius: 50%;
    background-color: $button-yellow;
  }
  &__icon-text-box {
    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: center;
  }
  &__icon-title {
    color: $title-white;
    font-size: 36px;
    font-weight: $font-weight-L;
    margin-block: 16px;
    @include tablet {
      margin-top: 40px;
      margin-bottom: 12px;
    }
    @include desktop {
      font-size: 58px;
      line-height: normal;
      letter-spacing: 2.32px;
      margin-top: 40px;
      margin-bottom: 12px;
    }
  }
  &__icon-text {
    color: $title-white;
    font-size: $S-text-size;
    text-align: center;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}
.wrapper-icon {
  margin-bottom: 81px;
  @include tablet {
    min-width: 768px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 204px;
  }
  @include desktop {
    min-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 178px;
  }
}

.crawler {
  display: none;
}
