.section {
    max-width: 480px;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-image: url(/src/images/reviews/BackgroudMobile1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/src/images/reviews/BackgroudMobile2x.jpg);
    }

    @include tablet {
        max-width: 768px;
        background-repeat: no-repeat;
        background-image: url(/src/images/reviews/BackgroundTablet1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/src/images/reviews/BackgroundTablet2x.jpg);
        }
    }

    @include desktop {
        max-width: 1600px;
        background-repeat: no-repeat;
        background-image: url(/src/images/reviews/BackgroudDesktop1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/src/images/reviews/BackgroudDesktop2x.jpg);
        }
    }
}

.gallery {
    display: block;
    max-width: 100%;
    height: auto;
    

    background-image: url(/src/images/reviews/lodyMobile1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
    
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/src/images/reviews/lodyMobile2x.jpg);
        }
    
        @include tablet {
            max-width: 768px;
            background-repeat: no-repeat;
            background-image: url(/src/images/reviews/lodyTablet1x.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/reviews/lodyTablet2x.jpg);
            }
        }
    
        @include desktop {
            max-width: 1600px;
            background-repeat: no-repeat;
            background-image: url(/src/images/reviews/lodyDesktop1x.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/reviews/lodyDesktop2x.jpg);
            }
        }
    &__image {
        margin-top: -50%;
        margin-bottom: 80px;
        justify-content: center;
        align-items: center;
    }
}

.slider {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 150px 0 450px;
    display: flex;

    &__image {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        background-color: #84A178;
        color: #FCFCFC;
        width: 280px;
        height: 256px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2.55;
        letter-spacing: 0.03em;
        padding: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: 400;

        @include tablet {
                width: 705px;
                height: 138px;
            }
        
        @include desktop {
                width: 968px;
                height: 138px;
            }
    }

    &__heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.86;
        margin-top: 32px;
    }

}