.bg {
  background-image: url(/src/images/reviews/BackgroudMobile1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 413px;
  @include tablet {
    padding-bottom: 379px;
  }
  @include desktop {
    padding-bottom: 228px;
  }

  .bg {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/src/images/reviews/BackgroudMobile2x.jpg);
    }

    @include tablet {
      max-width: 768px;
      background-repeat: no-repeat;
      background-image: url(/src/images/reviews/BackgroundTablet1x.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(/src/images/reviews/BackgroundTablet2x.jpg);
      }
    }

    @include desktop {
      max-width: 1200px;
      background-repeat: no-repeat;
      background-image: url(/src/images/reviews/BackgroudDesktop1x.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(/src/images/reviews/BackgroudDesktop2x.jpg);
      }
    }
  }

  .gallery {
    display: block;
    max-width: 80%;
    margin: 0 auto;

    &__image {
      margin-bottom: 80px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      position: relative;
      top: -32px;
      @include tablet {
        top: -144px;
      }
      @include tablet {
        top: -98px;
      }
    }
  }

  .slider {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: flex;
    margin-bottom: 413px;
    @include tablet {
      margin-bottom: 379px;
    }
    @include desktop {
      margin-bottom: 228px;
    }

    &__image {
      width: 85px;
      height: 85px;
      border-radius: 50%;
      margin-bottom: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      background-color: #84a178;
      color: #fcfcfc;
      width: 280px;
      height: 256px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 2.55;
      letter-spacing: 0.03em;
      padding: 20px;
      text-align: center;
      font-size: 12px;
      font-weight: 400;

      @include tablet {
        width: 705px;
        height: 138px;
      }

      @include desktop {
        width: 968px;
        height: 138px;
      }
    }

    &__heading {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.86;
      margin-top: 32px;
    }
  }
}
