.footer {
  background-color: #84a178;

  &__wrapper {
    padding-inline: 20px;
    @include tablet {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }
    @include desktop {
      padding-inline: 16px;
      margin-bottom: 60px;
    }
  }

  &__block--title {
    width: 232px;
    padding-top: 60px;

    @include tablet {
      padding: 40px 66px 32px 33px;
      width: 50%;
    }

    @include desktop {
      padding-block: 138px 60px 138px 0;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    line-height: 1.2;
    color: #fcfcfc;
    width: 232px;

    @include tablet {
      width: 352px;
    }
    @include desktop {
      width: 504px;
    }

    @include tablet {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.04em;
      text-align: left;
      line-height: 1.2;
    }

    @include desktop {
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.04em;
      text-align: left;

      line-height: 1.2;
    }
    &--accent {
      font-family: 'Montserrat';
      font-size: 34px;
      font-weight: 700;
      letter-spacing: 0.04em;
      text-align: left;

      line-height: 1.2;
      color: #fcfcfc;
      margin-top: 16px;

      @include tablet {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 0.06em;
        text-align: left;

        line-height: 1.2;
        margin-top: 8px;
      }

      @include desktop {
        font-size: 58px;
        font-weight: 700;

        letter-spacing: 0.06em;
        text-align: left;

        line-height: 1.2;
        margin-top: 14px;
      }
    }
  }

  .social-wrapper {
    @include tablet {
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    @include desktop {
      display: block;
      padding-top: 138px;
    }
  }

  .social-media {
    padding-block: 60px 40px;

    @include tablet {
      padding-right: 0;
      align-items: flex-end;
      padding-block: 0;
    }

    @include desktop {
      padding-block: 60px 40px;
    }

    &__block {
      display: flex;
      justify-content: flex-end;
      gap: 20px;

      @include tablet {
        flex-direction: row;
        justify-content: flex-end;
        gap: 30px;
      }

      @include desktop {
        display: flex;
        padding-bottom: 0;
        gap: 30px;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
    &__icon {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #f8d24e;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: #84a178;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon:hover,
    &__icon:focus {
      fill: #fcfcfc;
    }
  }

  .contact {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;

    @include tablet {
      padding-top: 34px;
    }

    @include desktop {
      padding: 0;
    }

    &__paragraph {
      font-family: 'Montserrat';
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0em;
      text-align: right;
      line-height: 1.9;
      color: #131313;

      @include tablet {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: right;

        line-height: 1.9;
      }

      @include desktop {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-align: left;
        line-height: 1.9;
      }
    }

    &__phone {
      font-family: 'DM Sans';
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0em;
      text-align: right;
      line-height: 1.9;
      color: #fcfcfc;

      @include tablet {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: right;
        line-height: 1.9;
      }
      @include desktop {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-align: left;
        line-height: 1.9;
      }
    }
  }

  .copyrights {
    margin-top: 30px;
    padding-block: 20px;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    @include tablet {
      padding-block: 12px;
      display: flex;
      justify-content: center;
      gap: 5px;
    }
    @include desktop {
      display: flex;
      justify-content: center;
      gap: 5px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  &__paragraph {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
    color: #7a7a7a;

    @include tablet {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.9;
      letter-spacing: 0.02em;
      text-align: left;
    }

    @include desktop {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.8;
      letter-spacing: 0.02em;
      text-align: left;
    }
  }
}
