.footer {
  background-color: $olive-green;

  &__wrapper {
    padding-inline: 20px;
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__block--title {
    width: 232px;
    padding-top: 60px;

    @include tablet {
      padding-block: 40px 32px;
      width: 50%;
    }

    @include desktop {
      padding-block: 120px 60px;
    }
  }

  &__title {
    font-family: $font-standard;
    @include font($L-text-size, $font-weight-XL);
    line-height: 1.2;
    color: $title-white;

    @include tablet {
      @include font($footer-text-size, $font-weight-XL);
      line-height: 1.2;
    }

    @include desktop {
      @include font($XXL-text-size, $font-wieght-L);
      line-height: 1.2;
    }
    &--accent {
      font-family: $font-standard;
      @include font($footer-accent-size, $font-weight-XL);
      line-height: 1.2;
      color: $title-white;
      margin-top: 16px;

      @include tablet {
        @include font($footer-accent-xlsize, $font-weight-XL);
        line-height: 1.2;
        margin-top: 8px;
      }

      @include desktop {
        @include font($footer-accent-xxlsize, $font-weight-XL);
        line-height: 1.2;
        margin-top: 14px;
      }
    }
  }

  .social-media {
    padding-block: 60px 40px;

    @include tablet {
      padding-block: 100px 60px;
    }

    @include desktop {
      padding-block: 138px 60px;
    }

    &__block {
      display: flex;
      justify-content: flex-end;
      gap: 20px;

      @include tablet {
        gap: 30px;
      }
    }
    &__icon {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $button-yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: $olive-green;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:hover .social-media__icon,
    &__item:focus .social-media__icon {
      fill: $title-white;
    }
  }

  .contact {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    padding-top: 20px;

    @include tablet {
      padding-top: 34px;
    }

    @include desktop {
      padding-top: 40px;
    }

    &__paragraph {
      font-family: $font-standard;
      @include font($S-text-size, $font-weight-XL);
      line-height: 1.9;
      color: $footer-black;

      @include tablet {
        @include font($M-text-size, $font-weight-XL);
        line-height: 1.9;
      }

      @include desktop {
        @include font($M-footer-size, $font-weight-XL);
        line-height: 1.9;
      }
    }

    &__phone {
      font-family: $font-footer;
      @include font($S-text-size, $font-weight-footer);
      line-height: 1.9;

      color: $title-white;

      @include tablet {
        @include font($M-text-size, $font-weight-footer);
        line-height: 1.9;

        @include desktop {
          @include font($M-footer-size, $font-weight-footer);
          line-height: 1.9;
        }
      }
    }
  }

  .copyrights {
    padding-block: 20px;
    text-align: center;
    border-top: 1px solid $horizontal-line-color;

    @include tablet {
      padding-block: 12px;
    }
  }
  &__paragraph {
    color: $all-rights-text-color;
    font-family: $montserrat-fonts;
    @include font($fs14, $fw700, 0, 152%);

    @include tablet {
      @include font($fs14, $fw700, 0.28px, 186%);
    }

    @include desktop {
      @include font($fs12, $fw700, 0.24px, 186%);
    }
  }
}
