.heading {
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(132, 161, 120, 1);
  z-index: 999;
  &__button {
    display: none;
    @include tablet {
      display: flex;
      padding: 10px 30px;
      border: none;
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border-radius: 10px;
      background-color: rgba(248, 210, 78, 1);
    }
    @include desktop {
      margin-right: 0;
    }
  }
  &__container {
    position: relative;
    @include tablet {
      padding: 0 32px;
    }
    @include desktop {
      padding: 0 16px;
      width: 1200px;
    }
  }

  &__mobile-menu {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    margin: auto;
    color: rgba(255, 255, 255, 1);
    @include desktop {
      display: none;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:14px;
  &__buttons-list {
    display: flex;
    gap: 30px;
  }

  &__list {
    display: none;
    @include desktop {
      display: flex;
      gap: 30px;
    }
  }
  &__link {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(252, 252, 252, 1);
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: rgba(248, 210, 78, 1);
    }
  }
}
