.menu-container.is-open {
    transform: translateX(0);
}
    
    
.menu-container {
    background-color: rgba(132, 161, 120, 1);
    position: fixed;
    inset: 0;
    transform: translateX(100%);
    transition: transform 250ms;
    display: flex;

    &__close-btn {
        position: absolute;
        width: 20px;
        height: 20px;
        fill: #FCFCFC;
        top: 15px;
        right: 15px;
        background: transparent;
        border: none;
        cursor: pointer;   
    }
}
.mobile-menu {
    display: block;
    justify-content: center;
    width: auto;
    max-width: fit-content;
    margin: 30% 0% 50% 15%;
    @include tablet {
        display: block;
        margin: 20% 0% 0 35%;

    }
    &_nav {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
        gap: 32px;
    }
    &_nav-item {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 16px;
        color: #FFFFFF; 
    }
    &_nav-item-black {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 16px;
        color: #131313; 
    }

}