.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 280px;
    z-index: 1;
    transform: translate(-50%,-50%);
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px;
    flex-shrink: 0;
    max-height: 100%;
    overflow: auto;
    &_btn-svg {
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    @include tablet {
        top: 50%;
        left: 50%;
        width: 528px;
        height: fit-content;
        padding: 40px;
    }
    @include desktop {
        top: 50%;
        left: 50%;
        width: 528px;
        height: fit-content;
        padding: 40px;
    }
}